.puzzleBox{
    display:inline-block;
    width: 300px; height: 300px;
    border: 3px solid rgb(0, 0, 0);
}
.puzzleBlock{
    width: 75px; height: 75px;
    background: rgb(132, 199, 204);
    font-size: 30px;
    font-family: monospace;
    text-align:  center;
    position:absolute;
    user-select: none;
    border-radius: 5px;

    border: 1px solid gray;
    box-sizing: border-box;
}
.clock{
font-family:Verdana;
font-size:15pt;
}

